body {
    font-family: sans-serif;
    color: #222222;
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
}

p {
    line-height: 1.6;
}

article + article {
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: 1px solid #c5c5c5;
}